@use "./variables" as *;

@mixin layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

@mixin backgroundMode {
  &.dark-mode {
    background-color: $background-dark;
  }

  &.light-mode {
    background-color: $background-light;
  }
}

@mixin paddingBody {
  padding: 0 $padding-body;

  @media (max-width: 768px) {
    padding: 0 $padding-body-mobile;
  }
}

@mixin fontColorText {
  &.dark-mode {
    color: #c1c1c1;
  }

  &.light-mode {
    color: #050505;
  }
}

@mixin fontFamilyOtherText {
  font-family: "Inter";
}

@mixin fontSizeOtherText {
  font-size: 1.25rem;
}

@mixin skills {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 8.22rem;
    height: 2rem;
    object-fit: contain;

    @media (max-width: 1024px) {
      max-width: 7.71rem;
      height: 1.875rem;
    }

    @media (max-width: 768px) {
      max-width: 6.17rem;
      height: 1.5rem;
    }
  }
}
