@mixin layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
}

@mixin gridColumsOtherSection {
   grid-column: 4/10;

@media (max-width: 768px) {
    grid-column: 2/12;
}
}

@mixin fontColorText {
     &.dark-mode {
      color: #c1c1c1;
    }

    &.light-mode {
      color: #050505;
    }
}

@mixin fontFamilyOtherText {
  font-family: "Inter";
}

@mixin fontSizeOtherText {
  font-size: 1.25rem;
}