@use './variables' as *;

@mixin layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
}

@mixin backgroundMode {
  &.dark-mode {
    background-color: $background-dark;
  }

  &.light-mode {
    background-color: $background-light;
  }
}

@mixin paddingBody {
  padding: 0 $padding-body;

  @media (max-width: 768px) {
    padding: 0 $padding-body-mobile;
  }
}

@mixin fontColorText {
     &.dark-mode {
      color: #c1c1c1;
    }

    &.light-mode {
      color: #050505;
    }
}

@mixin fontFamilyOtherText {
  font-family: "Inter";
}

@mixin fontSizeOtherText {
  font-size: 1.25rem;
}