@use "./mixins" as *;

.about {
  grid-column: 4/10;

  @media (max-width: 768px) {
    grid-column: 2/12;
  }

  p {
    text-align: center;
    @include fontColorText;
    @include fontFamilyOtherText;
    @include fontSizeOtherText;
  }
}
