@use "./mixins" as *;

footer {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 0.5rem;

    p,
    a, img {
      @include fontFamilyOtherText;
      @include fontColorText;
    }

    p {
      font-weight: bold;
    }

    a {
      display: flex;
      align-items: flex-end;
      gap: 0.25rem;
      text-decoration: none;

      img {
        margin-bottom: 0.2rem;
        height: 0.875rem;
        aspect-ratio: 1;
      }

      span {
        font-size: 0.875rem;
      }
    }
  }

  .linkedin {
    display: flex;
    img {
      width: 2rem;
      aspect-ratio: 1;
    }
  }
}
