@use "./mixins" as *;
@use "./variables" as *;

#home {
  grid-column: 2/12;
  padding: 4.625rem 0;
  height: 38.05rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    grid-column: 1/13;
    height: 43.06rem;
    @include layout;
  }

  @media (max-width: 768px) {
    grid-column: 1/13;
    height: auto;
    @include layout;
  }

  .bg-home {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .profil-picture {
    width: 8rem;
    aspect-ratio: 0.672;
    border-radius: 20%;
  }

  h1,
  p,
  img,
  a {
    @media (max-width: 1024px) {
      grid-column: 1/13;
      margin: auto;
    }
  }

  h1,
  p {
    font-family: "Poppins";
    text-align: center;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 3rem;
  }

  h1,
  .catchphrase {
    @include fontColorText;
  }

  .job {
    font-size: 2rem;
    font-weight: 600;
    background-clip: text;
    color: transparent;

    &.dark-mode {
      background-image: linear-gradient(
        90deg,
        rgba(79, 195, 247, 1) 0%,
        rgba(255, 255, 255, 0.6) 100%
      );
    }

    &.light-mode {
      background-image: linear-gradient(
        90deg,
        rgba(33, 186, 247, 1) 0%,
        rgba(72, 78, 83, 1) 100%
      );
    }
  }

  .catchphrase {
    width: 35rem;
    text-align: center;
    @include fontSizeOtherText;

    @media (max-width: 768px) {
      width: 100%;
      grid-column: 2/12;
    }
  }

  .catchphrase,
  a {
    margin-top: 3rem;
  }

  a {
    padding: 1.25rem 2rem;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 0.875rem;
    text-decoration: none;

    &.dark-mode {
      color: white;
      border: 1px solid $border-button;
    }

    &.light-mode {
      color: black;
      box-shadow: 0 0 1rem 0 black;
      background-color: $background-light;
    }

    &:hover {
      font-weight: 700;
    }
  }
}
