@use "./mixins" as *;
@use "./variables" as *;

#projects {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    grid-column: 1/3;

  @media (max-width: 768px) {
    width: 100%;
  }
  }

  article {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include fontFamilyOtherText;

    @media (max-width: 768px) {
      width: 200px;
     height: 207px;
    }

    img,
    p,
    a {
      @include fontFamilyOtherText;
      @include fontColorText;
    }

    img,
    p,
    a {
      font-size: 1rem;
    }

    .imgProject {
      width: 100%;
      aspect-ratio: 1.788;
    }

    p {
      strong {
        font-size: 1.125rem;
      }
    }

    .link_container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 1.5rem;
      
      a {
        width: 2rem;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 50%;
        }
      }

      button {
        margin: auto 0 auto auto;
        font-size: 0.875rem;
        font-style: italic;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        @include fontFamilyOtherText;

        @media (max-width: 768px) {
          margin:0 0 0.25rem auto;
        }

        &.dark-mode {
          color: white;
        }

        &.light-mode {
          color: black;
          font-weight: 500;
        }
      }
    }
  }
}
