@use "./mixins" as *;
@use "./variables" as *;

.modalProject {
  position: fixed;
  top: 4.5rem;
  left: 0;
  width: calc(100vw - $padding-body * 2);
  height: calc(100vh - 4.5rem);
  opacity: 0;
  transition: opacity 0.4s ease;
  @include layout;
  @include paddingBody;
  @include backgroundMode;

  @media (max-width: 768px) {
    width: calc(100vw - $padding-body-mobile * 2);
  }

  &.active {
    opacity: 1;
  }

  .modal_container {
    grid-column: 3/11;
    position: relative;
    margin: 2rem 0;
    padding: 0 1rem 1rem 1rem;
    height: 76vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      grid-column: 2/12;
    }

    @media (max-width: 768px) {
      grid-column: 1/13;
    }

    &.dark-mode {
      border: 1px solid white;
      box-shadow: 0 0 1rem 0 white;
    }

    &.light-mode {
      border: 1px solid black;
      box-shadow: 0 0 1rem 0 black;
    }

    .close-modal {
      position: sticky;
      top: 0;
      padding: 1rem 0;
      width: 100%;
      display: flex;
      justify-content: end;
      @include backgroundMode;

      button {
        background-color: transparent;
        border: 0;

        img {
          height: 1.5em;
          width: 1.5rem;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      padding: 0 0.5rem;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      @include fontColorText;

      h3,
      h4,
      li,
      p {
        @include fontFamilyOtherText;
      }

      h3 {
        font-size: 2rem;
      }

      h3,
      .description {
        width: 100%;
        text-align: center;
      }

      .description {
        font-size: 1.5rem;
        font-weight: 300;
        font-style: italic;
      }

      .detail {
        margin-top: 3rem;

        h4 {
          margin-bottom: 1rem;
          font-size: 1.75rem;
          font-weight: 600;
        }

        li {
          &.text {
            margin-left: 2.25rem;
            @include fontSizeOtherText;
          }
        }

        .skills {
          margin-left: 1rem;
          display: flex;
          flex-wrap: wrap;
          column-gap: 3rem;
          row-gap: 2rem;
          list-style: none;

          li {
            img {
              width: auto;
              max-width: 100%;
              height: 2rem;
              object-fit: contain;

              @media (max-width: 1024px) {
                height: 1.875rem;
              }

              @media (max-width: 768px) {
                height: 1.5rem;
              }
            }
          }
        }

        .list-text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        p {
          margin-left: 1rem;
          @include fontSizeOtherText;
        }
      }
    }
  }
}
