@use "./mixins" as *;
@use "./variables" as *;

#projects {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2,
  .filter {
    grid-column: 1/3;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  img,
  p,
  a {
    @include fontFamilyOtherText;
    @include fontColorText;
  }

  .filter {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    list-style: none;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    li {
      button {
        width: 8rem;
        height: 3rem;
        background-color: transparent;
        border: 1px solid #484e53;
        border-radius: 3rem;
        @include fontColorText;
        @include fontFamilyOtherText;

        &.active {
          background-color: #484e53;
          color: #c1c1c1;
        }
      }
    }
  }

  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 768px) {
      width: 200px;
      height: auto;
    }

    img,
    p,
    a {
      font-size: 1rem;
    }

    .imgProject {
      width: 100%;
      aspect-ratio: 1.788;
    }

    .text {
      height: 100%;
      strong {
        font-size: 1.125rem;
      }
    }

    .stack {
      font-style: italic;
    }

    .link_container {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 1.5rem;

      a {
        width: 2rem;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
        }
      }

      button {
        margin: auto 0 auto auto;
        font-size: 0.875rem;
        font-style: italic;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        @include fontFamilyOtherText;

        @media (max-width: 768px) {
          margin: 0 0 0.25rem auto;
        }

        &.dark-mode {
          color: white;
        }

        &.light-mode {
          color: black;
          font-weight: 500;
        }
      }
    }
  }
}
