@use "./mixins" as *;

#skills {
  grid-column: 2/12;

  h2 {
    margin-bottom: 4rem;
  }

  article {
    margin-bottom: 3rem;
    h3 {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      @include fontFamilyOtherText;
    }

    h3,
    img {
      @include fontColorText;
    }

    ul {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      column-gap: 4rem;
      row-gap: 3rem;

      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 3.37rem;
          max-width: 100%;
          height: 3rem;
          object-fit: contain;

          @media (max-width: 768px) {
            width: 3.33rem;
            height: 2rem;
          }
        }
      }
    }
  }
}
