@use "./mixins" as *;
@use "./variables" as *;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  // Responsive font-size management
  @media (min-width: 1441px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: 16px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  @include paddingBody;
  @include backgroundMode;
}

main {
  margin-top: 7.8rem;
  @include layout;

  section {
    margin-bottom: 5rem;
    scroll-margin-top: 8rem;

    h2 {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      @include fontFamilyOtherText;
      @include fontColorText;
    }

    p {
      line-height: 1.5;
    }
  }
}
