@use "./mixins" as *;
@use "./variables" as *;

* {
  margin: 0;
  padding: 0;

  // Responsive font-size management
  @media (min-width: 1441px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: 16px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

body {
  padding: 0 7.5rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }

  &.dark-mode {
    background-color: $background-dark;
  }

  &.light-mode {
    background-color: $background-light;
  }
}

main {
  margin-top: 7.8rem;
  @include layout;
}

